<div class="container">
  <div class="header">
    <h2>{{userType}} Access</h2>
  </div>

  <form class="sign-in" *ngIf="form" [formGroup]="form" (ngSubmit)="!submit && onFormSubmit()">

    <div>
      <label>login: </label>
      <input
        placeholder="'Email'"
        formControlName="email"
        id="field-username">
        <span *ngIf="email"><span *ngIf="email?.errors?.['required'] ">This field is required!</span></span>
    </div>

    <div>
      <label>password: </label>
      <input
        placeholder="'Password'"
        formControlName="password"
        id="field-password"
        type="password">
        <span *ngIf="password?.errors?.['required']">This field is required!</span>
    </div>

    <div>
      <button
        class="sign-in-button"
        name="login-form-submit"
        [disabled]="form.invalid"
        type="submit">
        Log in
      </button>
    </div>

  </form>

  <div class="footer">
    <p>Go to {{getOtherUserType}} <a [routerLink]="getRouterLink">login</a></p>
  </div>
</div>
