<!-- <div class="container">
  <div class="header">
    <h2>{{userType}} Access</h2>
  </div>

  <form class="sign-in" *ngIf="form" formGroup="form" (ngSubmit)="!submit && onFormSubmit()">

    <div>
      <input
        placeholder="'Email'"
        formControlName="email"
        id="field-username">
        <span *ngIf="email"><span *ngIf="email?.errors['required'] ">This field is required!</span></span>
    </div>

    <div>
      <input
        placeholder="'Password'"
        formControlName="password"
        id="field-password"
        type="password">
        <span *ngIf="userPassword?.errors['required']">This field is required!</span>
    </div>

    <div>
      <button
        class="sign-in-button"
        name="login-form-submit"
        [disabled]="form.invalid">
        Log in
      </button>
    </div>

  </form>

  <div class="footer">
    <p>Go to {{userType === "User" ? "Admin" : "User"}} <a [routerLink]="sadasd">login</a></p>
  </div>
</div> -->
