<div class="header" *ngIf="userData?.role === 'Admin'">
  <nav>
    <button (click)="currentTab = 0">Dashboard</button>
    <button (click)="currentTab = 1">Users</button>
  </nav>
</div>

<div class="content">
  <ng-container [ngSwitch]="currentTab">
    <ng-container *ngSwitchCase="0">
      <div *ngFor="let item of assessments">
        <app-assesment [assesment]="item" (emitId)="showGraph($event)"></app-assesment>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <table>
        <tr>
          <th>Firstname</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Groups</th>
        </tr>
        <tr *ngFor="let user of allUsers">
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.groups}}</td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</div>

